In [4]:
import yfinance as yf
import json

msft = yf.Ticker("msft")
if msft is None:
    print('Yes')
else:
    print('No')

No

In [2]:
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.49327,
 'profitMargins': 0.37627998,
 'grossMargins': 0.6873,
 'operatingCashflow': 87115997184,
 'revenueGrowth': 0.184,
 'operatingMargins': 0.42556,
 'ebitda': 94982995968,
 'targetLowPrice': 298.18,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 48917000192,
 'targetMedianPrice': 353.5,
 'currentPrice': 271.87,
 'earningsGrowth': 0.094,
 'currentRatio': 1.988,
 'returnOnAssets': 0.15674,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 360.34,
 'debtToEquity': 47.863,
 'returnOnEquity': 0.48721,
 'targetHighPrice': 425.96,
 'totalCash': 104660000768,
 'totalDebt': 77980999680,
 'totalRevenue': 192557006848,
 'totalCashPerShare': 13.994,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.642,
 'quickRatio': 1.773,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.474,
 'beta3Year': None,
 'enterpriseToEbitda': 21.234,
 '52WeekChange': 0.10444629,
 'morningStarRiskRating': None,
 'forwardEps': 10.77,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7479029760,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.773,
 'sharesShort': 38428490,
 'sharesPercentSharesOut': 0.0050999997,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71634,
 'netIncomeToCommon': 72456003584,
 'trailingEps': 9.58,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.010423481,
 'priceToBook': 12.486566,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': 1.07,
 'sharesShortPreviousMonthDate': 1649894400,
 'floatShares': 7471853263,
 'beta': 0.93616,
 'enterpriseValue': 2016892026880,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.082,
 'priceToSalesTrailing12Months': 10.559593,
 'dateShortInterest': 1652400000,
 'pegRatio': 1.81,
 'ytdReturn': None,
 'forwardPE': 25.243267,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0050999997,
 'sharesShortPriorMonth': 35578015,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 273.24,
 'regularMarketOpen': 272.53,
 'twoHundredDayAverage': 303.14175,
 'trailingAnnualDividendYield': 0.008856683,
 'payoutRatio': 0.2463,
 'volume24Hr': None,
 'regularMarketDayHigh': 274.77,
 'navPrice': None,
 'averageDailyVolume10Day': 30725610,
 'regularMarketPreviousClose': 273.24,
 'fiftyDayAverage': 283.297,
 'trailingAnnualDividendRate': 2.42,
 'open': 272.53,
 'toCurrency': None,
 'averageVolume10days': 30725610,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1652832000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 268.94,
 'currency': 'USD',
 'trailingPE': 28.378914,
 'regularMarketVolume': 31078905,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2033323737088,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 32802984,
 'dayLow': 268.94,
 'ask': 272.26,
 'askSize': 800,
 'volume': 31078905,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.3,
 'fiftyTwoWeekLow': 243,
 'bid': 271.11,
 'tradeable': False,
 'dividendYield': 0.0091,
 'bidSize': 900,
 'dayHigh': 274.77,
 'regularMarketPrice': 271.87,
 'preMarketPrice': 272.35,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.7027}

In [7]:
msft.info['symbol']

'MSFT'

In [8]:
msft.info['shortName']

'Microsoft Corporation'

In [17]:
msft.info[['shortName', 'symbol']]

TypeError: unhashable type: 'list'

In [5]:
# get historical market data
hist = msft.history(period="max")
hist = hist[['Open', 'High', 'Low', 'Close']]
hist

                  Open        High         Low       Close
Date
1986-03-13    0.055654    0.063838    0.055654    0.061109
1986-03-14    0.061109    0.064384    0.061109    0.063292
1986-03-17    0.063292    0.064929    0.063292    0.064384
1986-03-18    0.064384    0.064929    0.062201    0.062746
1986-03-19    0.062746    0.063292    0.061109    0.061655
...                ...         ...         ...         ...
2022-05-24  257.890015  261.329987  253.500000  259.619995
2022-05-25  258.140015  264.579987  257.130005  262.519989
2022-05-26  262.269989  267.109985  261.429993  265.899994
2022-05-27  268.480011  273.339996  267.559998  273.239990
2022-05-31  272.529999  274.769989  268.940002  271.869995

[9129 rows x 4 columns]

In [6]:
today = hist[len(hist) - 1:]
today

                  Open        High         Low       Close
Date
2022-05-31  272.529999  274.769989  268.940002  271.869995

In [9]:
today = today.assign(Name = msft.info['shortName'])

In [10]:
today

,Open,High,Low,Close,Name
Date,,,,,
2022-05-31,272.529999,274.769989,268.940002,271.869995,Microsoft Corporation

In [20]:
today_json = today.to_json(orient='records')
print(type(today_json))
parsed = json.loads(today_json)
parsed[0].update({'test':123})
#json.dumps(parsed)
print(parsed)

<class 'str'>
[{'Open': 272.5299987793, 'High': 274.7699890137, 'Low': 268.9400024414, 'Close': 271.8699951172, 'test': 123}]

In [19]:
parsed[0].items()

dict_items([('Open', 272.5299987793), ('High', 274.7699890137), ('Low', 268.9400024414), ('Close', 271.8699951172), ('test', 123)])

In [6]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0

[82 rows x 2 columns]

In [7]:
# show dividends
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-02-17    0.56
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
Name: Dividends, Length: 73, dtype: float64

In [8]:
# show splits
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [9]:
# show financials
msft.financials
msft.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,6306000000.0,5758000000.0,5599000000.0,5687000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20190000000.0,22515000000.0,20524000000.0,19405000000.0
Minority Interest,None,None,None,None
Net Income,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Selling General Administrative,7075000000.0,6763000000.0,5834000000.0,7379000000.0
Gross Profit,33745000000.0,34768000000.0,31671000000.0,32161000000.0
Ebit,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Operating Income,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-499000000.0,-521000000.0,-535000000.0,-549000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3462000000.0,3750000000.0,19000000.0,2947000000.0
Total Revenue,49360000000.0,51728000000.0,45317000000.0,46152000000.0
Total Operating Expenses,28996000000.0,29481000000.0,25079000000.0,27057000000.0
Cost Of Revenue,15615000000.0,16960000000.0,13646000000.0,13991000000.0
Total Other Income Expense Net,-174000000.0,268000000.0,286000000.0,310000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Net Income Applicable To Common Shares,16728000000.0,18765000000.0,20505000000.0,16458000000.0

In [10]:
# show major holders
msft.major_holders

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  71.62%       % of Shares Held by Institutions
2  71.67%        % of Float Held by Institutions
3    5909  Number of Institutions Holding Shares

In [11]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,191644927784
1,Blackrock Inc.,523749870,2022-03-30,0.0700,161477322419
2,State Street Corporation,302541869,2021-12-30,0.0405,101750881382
3,"FMR, LLC",210344695,2022-03-30,0.0281,64851372915
4,Price (T.Rowe) Associates Inc,204196901,2021-12-30,0.0273,68675501744
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,41136169565
6,Capital World Investors,107717797,2021-12-30,0.0144,36227649487
7,Capital Research Global Investors,92868182,2021-12-30,0.0124,31233426970
8,Capital International Investors,90985531,2021-12-30,0.0122,30600253785
9,Northern Trust Corporation,88410999,2021-12-30,0.0118,29734387183

In [12]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Intangible Assets,1.134800e+10,7.462000e+09,7.794000e+09,7.800000e+09
Total Liab,1.816830e+11,1.803790e+11,1.834400e+11,1.917910e+11
Total Stockholder Equity,1.629240e+11,1.600100e+11,1.519780e+11,1.419880e+11
Other Current Liab,4.739100e+10,4.634600e+10,5.262200e+10,5.261200e+10
Total Assets,3.446070e+11,3.403890e+11,3.354180e+11,3.337790e+11
Common Stock,8.576700e+10,8.452800e+10,8.375100e+10,8.311100e+10
Other Current Assets,1.335300e+10,1.230100e+10,1.298200e+10,1.347100e+10
Retained Earnings,7.963300e+10,7.504500e+10,6.694400e+10,5.705500e+10
Other Liab,3.115900e+10,3.058400e+10,3.015700e+10,3.168100e+10
Good Will,6.737100e+10,5.092100e+10,5.045500e+10,4.971100e+10
Treasury Stock,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Other Assets,2.184500e+10,2.125600e+10,2.110300e+10,1.507500e+10
Cash,1.249800e+10,2.060400e+10,1.916500e+10,1.422400e+10
Total Current Liabilities,7.743900e+10,7.751000e+10,8.052800e+10,8.865700e+10
Short Long Term Debt,1.749000e+09,4.998000e+09,3.249000e+09,8.072000e+09
Other Stockholder Equity,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Property Plant Equipment,8.321400e+10,7.956800e+10,7.534700e+10,7.080300e+10
Total Current Assets,1.539220e+11,1.741880e+11,1.743260e+11,1.844060e+11
Long Term Investments,6.907000e+09,6.994000e+09,6.393000e+09,5.984000e+09
Net Tangible Assets,8.420500e+10,1.016270e+11,9.372900e+10,8.447700e+10
Short Term Investments,9.216200e+10,1.047440e+11,1.114190e+11,1.160320e+11
Net Receivables,3.261300e+10,3.352000e+10,2.734900e+10,3.804300e+10
Long Term Debt,4.817700e+10,4.826000e+10,5.003900e+10,5.007400e+10
Inventory,3.296000e+09,3.019000e+09,3.411000e+09,2.636000e+09
Accounts Payable,1.608500e+10,1.531400e+10,1.483200e+10,1.516300e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,7.181000e+09

In [13]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Investments,9.069000e+09,5.643000e+09,4.183000e+09,-4.334000e+09
Change To Liabilities,3.110000e+08,-4.108000e+09,-3.356000e+09,1.301400e+10
Total Cashflows From Investing Activities,-1.617100e+10,-1.161000e+09,-3.250000e+09,-1.085300e+10
Net Borrowings,-4.197000e+09,-4.197000e+09,-4.826000e+09,-4.826000e+09
Total Cash From Financing Activities,-1.734500e+10,-1.198600e+10,-1.627600e+10,-1.137100e+10
Change To Operating Activities,1.092000e+09,1.760000e+09,-3.551000e+09,7.990000e+08
Issuance Of Stock,4.770000e+08,2.910000e+08,6.120000e+08,4.500000e+08
Net Income,1.672800e+10,1.876500e+10,2.050500e+10,1.645800e+10
Change In Cash,-8.106000e+09,1.439000e+09,4.941000e+09,5.220000e+08
Repurchase Of Stock,-8.822000e+09,-7.433000e+09,-7.684000e+09,-7.177000e+09
Effect Of Exchange Rate,2.400000e+07,1.060000e+08,-7.300000e+07,3.600000e+07
Total Cash From Operating Activities,2.538600e+10,1.448000e+10,2.454000e+10,2.271000e+10
Depreciation,3.773000e+09,3.496000e+09,3.212000e+09,2.558000e+09
Other Cashflows From Investing Activities,-1.181000e+09,-8.900000e+07,-4.170000e+08,4.340000e+08
Dividends Paid,-4.645000e+09,-4.652000e+09,-4.206000e+09,-4.214000e+09
Change To Inventory,-2.790000e+08,3.940000e+08,-7.770000e+08,-3.880000e+08
Change To Account Receivables,8.570000e+08,-5.543000e+09,1.048600e+10,-1.160600e+10
Other Cashflows From Financing Activities,-1.580000e+08,-1.920000e+08,-1.720000e+08,-4.300000e+08
Change To Netincome,1.813000e+09,1.773000e+09,-4.632000e+09,1.907000e+09
Capital Expenditures,-5.340000e+09,-5.865000e+09,-5.810000e+09,-6.452000e+09

In [14]:
# show earnings
msft.earnings
msft.quarterly_earnings

             Revenue     Earnings
Quarter
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000
4Q2021   51728000000  18765000000
1Q2022   49360000000  16728000000

In [15]:
# show sustainability
msft.sustainability

                                     Value
2022-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              106
governanceScore                       5.23
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.75
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                             7.4
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [16]:
# show analysts recommendations
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-04-26 12:02:43     BMO Capital     Outperform              main
2022-04-27 10:30:55  Wolfe Research     Outperform              main
2022-04-27 11:39:41   Deutsche Bank            Buy              main
2022-04-27 11:42:42          Stifel            Buy              main
2022-04-27 11:46:09         Wedbush     Outperform              main

[373 rows x 4 columns]

In [17]:
# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2022-07-25 10:59:00  2022-07-29 12:00:00
Earnings Average                 2.33                 2.33
Earnings Low                     2.29                 2.29
Earnings High                    2.39                 2.39
Revenue Average           52873200000          52873200000
Revenue Low               52538000000          52538000000
Revenue High              53411700000          53411700000